{% extends "layout.html" %}
{% block content %}

<div class="item-title">
    <h2>{{ mod['mod_name'] }}</h2>
    <p><i class="fa-solid fa-user"></i> <span class="studio-name">{{ mod['studio_name'] }}</span></p>
    <p> <i class="fa-solid fa-eye"></i> {{ mod['views'] }}</p>
    <p> <i class="fa-solid fa-heart"></i> {{ mod['likes'] }}</p>
    <p> <i class="fa-solid fa-download"></i> {{ mod['downloads'] }}</p>
    <p> <i class="fa-solid fa-tag"></i> {{ mod['genre_name'] }}</p>
</div>

<div class="item-image">
    <img src="{{ url_for('static', filename='images/sword.png') }}">
    <p>Screenshot from {{ mod['mod_name']}}</p>
</div>

{% endblock %}