{% extends "layout.html" %}
{% block content %}

<div class="side_panel">
    <h1><i class="fa-solid fa-image"></i> Resource Packs</h1>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-solid fa-wand-magic-sparkles"></i> Fantasy
            <input type="checkbox" value="Fantasy">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-solid fa-gun"></i> Guns
            <input type="checkbox" value="guns">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-solid fa-location-dot"></i> Adventure
            <input type="checkbox" value="adventure">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-solid fa-user"></i> Client-Side
            <input type="checkbox" value="Client-Side">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-regular fa-eye"></i> Visual
            <input type="checkbox" value="Visual">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="filter">
        <label class="checkbox-container"><i class="fa-solid fa-gear"></i> Optimisation
            <input type="checkbox" value="Optimisation">
            <span class="checkmark"></span>
        </label>
    </div>
</div>
<div class="grid">
    {% for mod in mods %}
    <div class="grid-item">
        <a class="card" data-tags="{{ mod['genre_name'] }}" href="/mod/{{ mod['id'] }}">
            <img src="static/images/sword.png" alt="">
            <div class="card-content">
                <div class="impressions">
                    <h2>{{ mod['mod_name'] }}</h2>
                    <p><i class="fa-solid fa-user"></i> <span class="studio-name">{{ mod['studio_name'] }}</span></p>
                    <p> <i class="fa-solid fa-eye"></i> {{ mod['views'] }}</p>
                    <p> <i class="fa-solid fa-heart"></i> {{ mod['likes'] }}</p>
                    <p> <i class="fa-solid fa-download"></i> {{ mod['downloads'] }}</p>
                    <p> <i class="fa-solid fa-tag"></i> {{ mod['genre'] }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}